In [14]:
#Implement the Pandas software library
import pandas as pd
#Read in the iplocation.csv so we can assign it to a dataframe
iplist = pd.read_csv("iplocation.csv")
#Create the data frame and implement the csv
df = pd.DataFrame(iplist)
#Assign names to the columns
df.columns = ['time_stamp', 'ip', 'country', 'city']
#Display the first five rows for the data frame
df.head()

            time_stamp             ip        country        city
0  2016-05-01 11:49:40  221.195.1.140          China       Hebei
1  2016-05-01 15:32:13   123.59.59.52          China     Beijing
2  2016-05-01 15:32:14   123.59.59.52          China     Beijing
3  2016-05-01 15:32:13   52.31.166.88  United States  Wilmington
4  2016-05-01 19:55:59   5.153.54.179    Netherlands   Amsterdam

In [15]:
#Create a data frame with only the ip addresses from our access.log files
access_log = df[['ip']]
access_log.columns = ['ip']
access_log.head()

              ip
0  221.195.1.140
1   123.59.59.52
2   123.59.59.52
3   52.31.166.88
4   5.153.54.179

In [16]:
#Read in the tor_node_ip.csv created in GetTorNodeIp script 
tor_nodes = pd.read_csv("tor_node_ip.csv")
#Create a data frame from the tor_node_ip.csv with the full list of Tor node IP's
tor_nodes_df = pd.DataFrame(tor_nodes)
#Set the column name 
tor_nodes_df.columns = ['ip']
tor_nodes_df.head()

               ip
0     100.1.12.83
1   100.11.109.99
2    100.15.114.5
3  100.15.128.103
4   100.33.122.16

In [17]:
#Merge the two date frames on the column IP and include only the values that are in both
tor_node_ip_matches = pd.merge(tor_nodes_df, access_log, on=['ip'], how='inner')
tor_node_ip_matches

               ip
0  107.181.174.84
1    64.113.32.29

In [18]:
#Display the IP address details from our original data frame
node_one_ip_details = df[df['ip'] == '107.181.174.84']
node_one_ip_details

               time_stamp              ip        country     city
5735  2016-03-20 02:20:33  107.181.174.84  United States  Atlanta

In [19]:
#Display the IP address details from our original data frame
node_two_ip_details = df[df['ip'] == '64.113.32.29']
node_two_ip_details

               time_stamp            ip        country     city
5733  2016-03-20 01:50:10  64.113.32.29  United States  Saginaw